body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'S-Core Dream', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 2px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-text {
    text-align: left;
    margin-right: 20px; /* 간격 조정 */
}

.logo-text p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.header-logo {
    width: 100px; /* Adjust as necessary */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s, font-size 0.3s;
}

nav ul li a:hover {
    color: #007bff;
    font-size: 18px;
}

.content-section {
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(20px);
}

.content-section.show {
    opacity: 1;
    transform: translateY(0);
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin-bottom: 20px; /* 기본 간격 */
}

.video-container:first-child {
    margin-top: 50px; /* 상단 간격 */
}

.video-container:nth-child(5) {
    margin-top: 100px; /* 3번째와 4번째 간격 */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section {
    text-align: center; /* 텍스트 중앙 정렬 */
    width: 100%; /* 너비를 100%로 설정하여 부모 요소의 전체 너비를 차지하게 함 */
    padding: 20px 0; /* 상하 패딩 추가 */
    font-size: 24px; /* 글자 크기 조정 */
    font-weight: normal; /* 글자 두께 조정 */
    margin: 20px 0; /* 상하 여백 추가 */
}

.section-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 20px 0; /* 상단 및 하단 간격 조정 */
    color: #333;
}

.center-content {
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-top: 2px solid #ddd;
}

footer p {
    margin: 5px 0;
    color: #777;
    font-size: 14px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.photo-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.photo-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}